.chip {
  padding: 5px;
  background-color: #ccc;
  margin: 2.5px;
  border-radius: 3px;
  cursor: default;

  &:active {
    background: #888;
  }

  span {
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}
