.suggestionsList {
  position: absolute;
  border: 1px solid #ccc;
  z-index: 10;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 5px 15px;
  }

  .suggestionHighlighted {
    background: #ddd;
  }
}
